body{
    background-color: rgb(175, 199, 244);
    max-width: 1000px; /* Define a largura máxima desejada */
    margin: auto; /* Centraliza horizontalmente o conteúdo */
    padding: 20px; /* Adiciona um espaçamento interno */
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
p{
    text-align: justify;
    text-indent: 40px;
}
a{
    text-decoration: none;
}

